:root {
    --green: #419741;
    --transparent: rgba(255, 255, 255, 0);
    --black: #333;
    --coffee-dark: rgb(155, 123, 98);
    --coffee-middle: rgb(211, 180, 156);
    --coffee-bright: rgb(248, 226, 209);
}

body
{
    width: 100%;
	height: auto;
	background-image: url('../image/background.jpg');
    background-attachment: fixed;
	background-size: cover;
    display: flex;
    margin: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

::-webkit-scrollbar {
  width: 0;
}

.listContainer
{
    width: 60%;
    height: auto;
    margin: 10vh;
    padding: 2%;
    background-color: white;
    border-radius: 15px; 
}

.order
{
    height: 8vh;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: var(--black) 2px solid;
    background-color: var(--coffee-bright);
}

.order:last-child
{
    border-radius: 0px 0px 15px 15px;
}

.order:nth-child(even)
{
    background-color: var(--coffee-middle);
}

.order:first-child
{
    border-radius: 15px 15px 0px 0px;
    background-color: var(--coffee-dark);
}

.id
{
    width: 10%;
    color: black;
    font-size: 26px;
}

.name
{
    width: 20%;
    color: black;
    font-size: 26px;
}

.code
{
    width: 10%;
    color: black;
    font-size: 26px;
}

.type
{
    width: 50%;
    color: black;
    font-size: 20px;
}

.basket
{
    height: 50%;
    width: 4%;

}