*, *::before, *::after
{
	margin: 0;
}

.backCup
{
	height: 600px;
	width: 600px;
	background-image: url('../image/back.png');
	display: flex;
	justify-content: center;
	align-items: center;
}

.maskCup
{
	position: absolute;
	height: 600px;
	width: 600px;
	background-image: url('../image/mask.png');
	opacity: .4;
}

.conteiner
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-right: 15px;
	margin-bottom: 10px;
	width: 220px;
	height: 290px;
}

.conteiner:last-child
{
	border-radius: 0px 50% 50% 0px;
}

.coffeBuilderContainer
{
	display: flex;
	width: 100%;
	height: 50vh;
	justify-content: center;
	align-items: center;
	height: 600px;
}

.coffee
{
	width: 100%;
	background-color: #6f4e37;
	opacity: 1;
}

.milk
{
	width: 100%;
	background-color: #efe5de;
	opacity: 1;
}

.syrup
{
	width: 100%;
	background-color: #f09df0;
	opacity: 1;
}

.background
{
	width: 100%;
	height: 100vh;
	background-image: url('../image/background.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}

.backgroundMainPage
{
	width: 100%;
	height: 100vh;
	background-image: url('../image/background.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.buttons
{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 40%;
	height: 6vh;
}

.addBtn
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 4vh;
	background-color: #419741;
	/* color: #183718; */
	color: white;
	border-radius: 15px;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	border: 0px;
	text-decoration: none;
}

.clearBtn
{
	background-color: #893c3c;
}

.mlCount
{
	position: absolute;
	color: white;
	font-size: 35px;
	font-family: 'Nunito', sans-serif;
}

.addMlCountConteiner
{
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	justify-content: center;
	position: absolute;
	width: 17%;
	height: 15vh;
	background-color: #3f200b;
	color: white;
	font-size: 25px;
	font-family: 'Nunito', sans-serif;
	right: 18%;
	border-radius: 15px;
}

.addMlCount
{
	margin-top: 5px;
	color: white;
	font-size: 25px;
	font-family: 'Nunito', sans-serif;
}

.incDecBtn
{
	width: 40%;
	height: 3vh;
	font-size: 25px;
}

.incDecContainer
{
	width: 100%;
	height: 3vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 15px;
}