*:focus {outline:none !important}

html 
{
    scroll-behavior: smooth;
}

:root {
    --green: #419741;
    --transparent: rgba(255, 255, 255, 0);
}

body 
{
    overflow: hidden;
}

form
{
    border: 3px;
    border-color: white;
    width: 22%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10%;
}

input
{
    height: 30px;
    border-radius: 15px;
    background-color: var(--transparent);
    border: 3px solid;
    margin-bottom: 3vh;
    border-color: white;
    transition: all .3s linear;
    padding: 1vh;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

input:focus
{
    border-color: var(--green);
}

input::placeholder {
    color: white;
    opacity: 0.4;
}

label
{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.submit
{
    height: 5vh;
    border-radius: 15px;
    background-color: var(--transparent);
    border: 3px solid;
    margin-bottom: 2vh;
    border-color: white;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: white;
    transition: all .3s linear;
    text-decoration: none;
    text-align: center;
    line-height: 47px;
}

.submit:hover
{
    background-color: var(--green);
}

.frame
{
    background-color: var(--transparent);
    border: 5px white solid;
    height: 90px;
    width: 60px;
    color: white;
    font-size: 45px;
    border-radius: 15px;
    text-align: center;
    line-height: 2;
}

.mainFrame
{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.back
{
    background-color: var(--transparent);
    border: 5px white solid;
    height: 80px;
    width: 200px;
    color: white;
    font-size: 50px;
    border-radius: 15px;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
}

.link
{
    position: absolute;
    top: 0px;
}

.checkMail
{
    margin-top: 25px;
    font-size: 25px;
}